#map {
    width: 50vw;
    height: 100vh;
    position:fixed;
    top:0;
    right:0;
}

.container {
    max-width: 100% !important;
}

.wrap {
    width:50vw !important;
}

.viewing {
    background: #eee;
}

.storymap-main section {
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
}