<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-{{site.color-scheme}}">

    <!-- This if statement decides which sidebar to use -->
    {% if page.toc %}
    {% include sidebar-toc.html %}
    {% else %}
    {% include sidebar.html %}
    {% endif %}

    <!--
      Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS
      collisions with our real content.
    -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title | newline_to_br }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content" id="main">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>

    // Highlight search Query
    var url = window.location.href;
      if (url.lastIndexOf("?q=") > 0) {
        // get the index of the parameter, add three (to account for length)
        var stringloc = url.lastIndexOf("?q=") + 3;
        // get the substring (query) and decode
        var searchquery = decodeURIComponent(url.substr(stringloc));
        // regex matches at beginning of line, end of line or word boundary, useful for poetry
        var regex = new RegExp("(?:^|\\b)(" + searchquery + ")(?:$|\\b)", "gim");
        // get, add mark and then set content
        var content = document.getElementById("main").innerHTML;
        document.getElementById("main").innerHTML = content.replace(regex, "<mark>$1</mark>");
      }

      // Toggle sidebar
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             !sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>

<!-- Facebook SDK for JavaScript -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '589495744558280',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

{% if page.title == "Storymap" %}
<script type="text/javascript" src="/demos/assets/js/storymap/storymap.js"></script>
<script type="text/javascript" src="/demos/assets/js/storymap/counties.js"></script>
<script type="text/javascript">
    (function () {
        'use strict';

        /* var counties = $.ajax({
          url:"counties.json",
          dataType: "json",
        }) */

        var paths = [
        L.marker([33, -88]),
        L.marker([34.8, -92.2]),
        L.marker([37, -120]),
        L.marker([75, -90]),
        L.marker([44, -71.5]),
        L.marker([41.013611, 28.955]),
        L.marker([44.808889, -71.869444]),
        L.marker([37.783333, -122.416667]),
        L.marker([43.703333, -72.288333]),
        L.marker([42.981389, -70.611389]),
        L.marker([52.95, -1.15]),
        L.marker([39.952778, -75.163611]),
        L.marker([51.234, -0.3318]),
        L.marker([51, 0]),
        L.marker([44.468611, -71.183889]),
        L.marker([43.436389, -71.823333]),
        L.marker([43.646667, -72.010278]),
        L.marker([44.894444, -71.495833]),
        L.marker([42.358056, -71.063611]),
        L.marker([40.777453, -73.975903]),
        L.marker([42.374, -71.117]),
        L.marker([42.788333, -71.200833]),
        L.marker([44, -72.7]),
        L.marker([41.272222, -72.334167]),
        L.marker([60, -95]),
        L.marker([44.488889, -71.569167]),
        L.marker([44.877778, -71.514167]),
        L.marker([42.990833, -71.1425]),
        L.marker([44.227222, -71.748333]),
        L.marker([44.146111, -71.79]),
        L.marker([40.7127, -74.0059]),
        L.marker([42.990833, -71.463611]),
        L.marker([44.306111, -71.77]),
        L.marker([44.271, -71.305]),
        L.marker([44.791667, -72.582778]),
        L.marker([42.3, -71.8]),
        L.marker([42.905833, -72.060833]),
        L.marker([-13.583333, -172.333333]),
        L.marker([60, 90]),
        L.marker([53.416667, -8]),
        L.marker([51.5, -0.116667]),
        L.marker([47, 2]),
        L.marker([43, 12]),
        L.marker([41.7, -71.5]),
        L.marker([42.800556, -71.304167]),
        L.marker([42.838333, -71.146944]),
        L.marker([43.036111, -71.183333]),
        L.marker([39, -105.5]),
        L.marker([42.880556, -71.327222]),
        L.marker([44.280278, -71.688056]),
        L.marker([46.5, 9.316667]),
        L.marker([56.564341, -3.584886]),
        L.marker([44.034167, -72.063889]),
        L.marker([44.103953, -72.121759]),
        L.marker([44.2705, -71.30325]),
        L.marker([43.924722, -71.891667]),
        L.marker([43.868889, -71.91]),
        L.marker([44.024511, -71.830917]),
        L.geoJSON(counties)
        ];

        var views = {
            overview: {lat: 44, lon: -71.5, zoom: 8},
            south: {lat: 33, lon: -88, zoom: 5.5},
            constantinople: {lat: 41.013611, lon: 28.955, zoom: 8},
            sanfrancisco: {lat: 37.783333, lon: -122.416667, zoom: 8},
            philadelphia: {lat: 39.952778, lon: -75.163611, zoom: 8},
            andover: {lat: 43.436389, lon: -71.823333, zoom: 11},
            union: {lat: 40, lon: -100, zoom: 4},
            newyorkcity: {lat: 40.7127, lon: -74.0059, zoom: 8},
            littleton: {lat: 44.306111, lon: -71.77, zoom: 11},
            samoa: {lat: -13.583333, lon: -172.333333, zoom: 7},
            warren: {lat: 43.924722, lon: -71.891667, zoom: 11},
            moosilauke: {lat: 44.024511, lon: -71.830917, zoom: 11}, 
            birnam: {lat: 56.564341, lon: -3.584886, zoom: 12},
            coos: {lat: 44.69, lon: -71.3, zoom: 9},
            wentworth: {lat: 43.868889, lon: -71.91, zoom: 11},
            grafton: {lat: 43.93, lon: -71.84, zoom: 9},
        };

        $('.storymap-main').storymap({markers: views, paths:paths});
    }());
</script>
{% endif %}
  </body>
</html>
